/* Jumbotrons
 * -------------------------------------------------- */
.jumbotron {
   position: relative;
}
.jumbotron h1 {
   margin-bottom: 9px;
   font-size: 81px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
}
.jumbotron p {
   margin-bottom: 18px;
   font-weight: 300;
}
.jumbotron .btn-large {
   font-size: 20px;
   font-weight: normal;
   padding: 14px 24px;
   margin-right: 10px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
.jumbotron .btn-large small {
   font-size: 14px;
}
.danger {
  color:#ee5f5b;
}
.danger:hover {
  color:#bd362f;
}

.center {
  text-align: center;
}
.margin_top {
  margin-top: 30px;
}
.inline {
  display: inline-block;
}
.box {
  height: 500px;
}

/* Landing view. */

/* Channel view. */
#logo_channel {
  margin-top:-15px;
}
#channel_list li {
  width:100%;
  display:inline-block;
}
.nav li > a {
  display:inline-block;
}
#channel_list .delete {
  display:none;
}
#channel_list, table {
  margin-top:50px;
}
