<div id="edit_event_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Edit Event</h3>
  </div>
  <div class="modal-body">
    <label>Description</label>
    <input id="description" type="text" placeholder="New event"></input>
    <label>Value</label>
    <input id="value" class="span4" type="text"></input>
    <label>Type (JSON)</label>
    <input id="type" class="span4" type="text"></input>
    <label>File attachment</label>
    <div id="file-upload-controller">
      <!-- Multiple file upload control -->
      <div id = "multiple-file-uploader-control">
        
        <!-- file list and details container -->
        <ol id="attach-file-list" style="list-style:none;">
          
        </ol>
        
      </div>
    </div> 
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <button id="save_btn" class="btn btn-primary">Save</button>
  </div>
</div> 
