<div class="row"></div>
<div class="row">
  <div class="span12 center jumbotron margin_top">
    <img class="logo_bg" src="images/logo.png" width="250px">
    <h1>Explorer</h1>    
  </div>
  <div class="offset4 span4 margin_top">
    <form id="signin_form" class="well span3 margin-top">
      <label>Username</label>
      <input id="username" class="span3" type="text" value="jonmaim"></input>
      <label>Password</label>
      <input id="password" class="span3" type="password" value="pd9d7UqfXRey"></input>
      <label>Domain</label>
      <select id="domain">
        <option>pryv.io</option>
        <option>rec.la</option>
        <option>localhost:3443</option>
      </select>
      <label>Mode</label>
      <select id="mode">
        <option id="trusted">trusted app</option>
        <option id="standard">standard (not available yet)</option>
      </select>
      <a id="signin_btn" type="submit" class="btn btn-primary" <% print('href="'+path+'"')%>>Sign in</a>
    </form>
  </div>
</div>
